//custom colors
$light: #bd9c76;
$dark: #691a05;
$primary: #ba7222;
$secondary: #9e3208;
$success: #1c353a;
$warning: #1c353a;
$danger: #0f2028;

//import
@import '../node_modules/bootstrap/scss/bootstrap'